@font-face {
  font-family: 'minecraft';
  src: url('font/LCE-MC.ttf')
}
@font-face {
  font-family: 'minecraft-bold';
  src: url('font/Mojang-Bold.ttf')
}

body {
  position: relative;
  min-width: 100%;
  min-height: 100%;
  font-family: 'minecraft';
  background-image: url('textures/title/panorama_main.png');
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  animation: panorama 120s linear infinite;
}

li {
text-align:left;
}

@keyframes panorama {
  0% {
  background-position: 0;
  }

  100% {
  background-position: calc(100vh / 144 * -820);
  }
}

b {
  font-family:'minecraft-bold';
}

a {
  text-decoration:none;
  font-family: minecraft-bold;
  color: #ffff55;
  text-shadow: 1px 1px 00 #000;
}

.box {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  padding: 5vh;
  border-image: url('textures/gui/main_gui.png');
  border-image-slice: 100 100 fill;
  border-image-width: 64px;
  margin-top: 10px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.box-secondary {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 50%;
  padding: 5vh;
  border-image: url('textures/gui/second_gui.png');
  border-image-slice: 100 100 fill;
  border-image-width: 64px;
  margin-top: 10px;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.center-screen {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
min-height: 100vh;
}



.blur {
backdrop-filter:blur(3px);
min-height:100vh;
}

.back {
  font-size:25;
  text-align:left;
  padding-top:10px;
  margin-top:-15px;
  margin-bottom:-15px;

}

.back a {
  color:black;
  text-shadow: 0 0 00 #000;
}

.mc-button {
  font-family: 'minecraft';
  display: inline-block;
  line-height: 0;
  padding: 0;
  margin: 0;
  border: none;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  width: 500;
  height: 50;
  background-size: cover;
  image-rendering: pixelated;
  text-decoration: none;
  color: #ffffff;
  text-shadow: 1px 1px 00 #000;
  background-image: url('textures/gui/button.png');
  max-width: 100%;
  max-height:auto;
margin-bottom:10px;
}

.mc-button:hover {
  background-image: url('textures/gui/button_highlighted.png');
  color:yellow;
}

img {
  max-width:99%;
}

hr {
  margin: 30px -20px 20px;
  border: 0;
  border-top: 2px solid #555555;

}
.credits-desc {
font-family: 'minecraft';
font-size: 15px;
color: #ffffff;
text-shadow: 1px 1px 00 #000;
}
.credits-title {
font-family: 'minecraft';
font-size: 20px;
color: #ffffff;
text-shadow: 1px 1px 00 #000;
}